
@media (max-width: 1440px) {
    .area1--img1 {
        height: 500px;
    }
}

@media (min-width: 769px) and (max-width: 1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .area1--img1 {
        height: 350px;
    }

    .area2--img1 {
        height: 450px;
    }

    .area3--content {
        padding: 350px 80px;
    }

    .area4--content {
        padding: 80px 80px;
    }
}

@media (min-width: 441px) and (max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .area1 {
        grid-template-columns: 3fr 2fr;
    }

    .area1--img1 {
        height: 260px;
    }

    .area2 {
        grid-template-columns: 1fr;
    }

    .area3 {
        grid-template-columns: 2fr 3fr;
    }

    .area3--content {
        padding: 150px 80px;
    }

    .area4--content {
        padding: 150px 80px;
    }

}

@media (max-width: 440px) {

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header--menu {
        margin-left: 20px;
    }

    .header--search input {
        max-width: 80px;
    }

    .banner h1 {
        font-size: 50px;
        line-height: 50px;
    }

    h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .banner--images img {
        width: 70px;
        height: 70px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 10px;
    }

    .area1,
    .area2,
    .area3,
    .area4 {
        grid-template-columns: 1fr;
    }

    .area1--content,
    .area2--content,
    .area3--content,
    .area4--content {
        padding: 40px;
    }

    .area1--img1 {
        height: 220px;
    }

    .area2--img1 {
        height: 450px;
    }

    footer {
        font-size: 12px;
        padding: 40px 20px;
    }
}